body
{
font-family: Arial, sans-serif;
margin: 0;
background - color: #f9f9f9;
}

header{
background-color:
#7b3f00;
color: white;
padding: 15px;
text-align: center;
}

nav a {
color: white;
margin: 0  15px;
text-decoration: none;
font-weight: bold;
}

nav a :hover {
text-decoration: underline;
}

.hero { 
text-align: center;
padding: 30px;
background-color: #fff3e0;
}

.hero img {
width: 80%;
max-width: 800px;
border-radius: 10px;
}

.hero h2 {
margin-top: 20px;
color: #5a2d0c;
}
.hero p {
font-size: 18px;}

button {
margin-top: 15px;
padding: 10px  20px;
background-color: #7b3f00;
color: white;
border: none;
cursor: pointer;
border-radius: 5px;
}

button:hover {
background color: #a0522d;
}
 
section{
padding:  30px}

.card-container{
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
}

.card{
background: white;
width: 250px;
padding: 15px;
text-align: center;
border-radius: 10px;
}

.card img{
width: 100%;
border-radius: 10px;}

.card a {
text-decoration: none;
color: inherit;
pointer-events: none;
}

.menu-btn {
display : inline-block;
margin-top: 15px;
padding: 10px 20px;
background-color: #7b3f00;
color: white;
text-decoration: none;
border-radius: 5px;
font-weight: bold;
}
.menu-btn: hover{
background-color: #a0522d;
}

.food-img  {
width=  250px;
height:  180px;
object-fit:  cover;
border-radius:  8px;
display:  block;
}

footer{
background-color: #333;
color: white;
text-align: center;
padding: 10px;
}
h1,h2,h3,p, footer { cursor: default;
text-decoration: none;
}
 
